<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
</head>

<body>

    <%- include('partials/navbar.ejs', {page: 'create', exp }) %>

    <form class="mx-auto w-50 mt-5" action='/create' method="POST">
        <div class="mb-3">
            <label for="articleNo" class="form-label">Article Number</label>
            <input type="text" class="form-control" name="articleNo" id="articleNo"
                aria-describedby="articleNoHelp">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" id="name">
        </div>
        <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <input type="text" class="form-control" name="description" id="description">
        </div>
        <div class="mb-3">
            <label class="form-label" for="price">Price</label>
            <input type="number" class="form-control" name="price" id="price">
        </div>
        <button type="submit" class="btn btn-primary w-100">Create</button>
    </form>

    <ul id='responses' class="list-unstyled text-center mx-auto mt-5 w-75">
        <li><%= response %></li>
    </ul>

    <%- include('partials/footer.ejs') %>

</body>

</html>