<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs') %>
    </head>
<body>

    <%- include('partials/navbar.ejs', {page: ''}) %>

    <div class='text-center text-white'>
        <h2 class='bg-danger'>ERROR</h2>
        <div class='bg-danger w-50 mx-auto'> <%= response %> </div>
    </div>

    <%- include('partials/footer.ejs') %>

</body>
</html>